<div id="content">  
<title>Austria_residence_and_trade.html</title>
<!---->

# Austria residence and trade,,, [.html](https://amsl.consulting/Austria_residence_and_trade.html/Austria_residence_and_trade.html)  
<!--
Publish() {
    scp Austria_residence_and_trade.html amsl.consulting:/var/www/amsl.consulting/Austria_residence_and_trade.html/Austria_residence_and_trade.html # https://manpages.org/scp
}
git commit -a && git push && Publish

# setup https://gitlab.com/amscto/austria_residence_and_trade.html/
cd existing_repo
git remote rename origin old-origin
git remote add origin git@gitlab.com:amscto/austria_residence_and_trade.html.git
git push -u origin --all
git push -u origin --tags
-->

UK citizens will need a residence permit and trade licence (“Gewerbeberechtigung”) in Austria by 1st January 2021.

## [Residence permit](https://www.wko.at/service/wirtschaftsrecht-gewerberecht/Aufenthaltstitel_fuer_Selbstaendige.html)

Either be the 

- “Rot-Weiß-Rot Karte Plus” or the 
- “Daueraufenthalt EU” (dependent on how long one already lives in Austria) or the
- “Aufenthaltstitel für Selbständige” (for further information please visit). 

It may be possible that an exception to this is applicable – depending on how the Brexit will be executed,there may be a special permit for UK citizens, [who are already resident in Austria](https://en.wikipedia.org/wiki/Long-term_resident_(European_Union)#Brexit_and_UK_nationals_with_long-term_EU_residence): These persons need to have a residence permit within 6 months after the Brexit; we will need to have the application for this permit within 2 weeks after the Brexit.  

### Red-White-Red - Card plus 

- have had the red-white-red card for 2 years
- the requirements of the 1st part of the Settlement and Residence Act (NAG)
- a notification from the Arbeitsmarktservice (AMS) that the holder of the “Red-White-Red Card” has been employed within the last 24 months for 21 months under the conditions relevant for admission or that he has already been employed for 2 years  

### Red-White-Red - Card  

Issued to independent key workers / highly qualified skilled workers in shortage professions : if there is an overall economic benefit from employment that goes beyond the operational benefit, in particular with regard to the associated transfer of investment capital, know-how, the introduction of new technologies and / or the creation and safeguarding of jobs is. This must be proven by an expert opinion from the competent regional office of the Public Employment Service.

### Requirements of the 1st part of the NAG

- no residence ban, 
- no enforceable expulsion has been issued, unless 18 months have passed since the departure, 
- no marriage, partnership or adoption, 
- the alien has not been legally punished for illegal entry in the last 12 months 
- the stay must not conflict with public interests, 
- the foreigner must provide evidence of accommodation that is customary in the location, 
- he must have health insurance (which is subject to payment in Austria) 
- his stay must not lead to any financial burden on a regional authority (proof of regular income must be provided)
- a foreigner who wants to settle in Austria must, in principle, fulfill module 1 of the integration agreement. There is no obligation to do so if the stranger declares that his or her stay should not exceed twelve months within a 24-month period.


## [Trade licence](https://www.usp.gv.at/Portal.Node/usp/public/content/gruendung/gewerbe/gewerbeberechtigung/Seite.1300100.html)

Legally, to be permitted to work as a freelancer in Austria, one will be required to register a trade (“Gewerbeberechtigung”).

### Trade regulations 1994 Business license requirements

- Austrian citizenship,  EU / EEA citizenship or Swiss citizenship; Under certain conditions, third-country nationals can also obtain a trade license
- Self-eligibility (age at least 18 years, no adult representation)
- No grounds for exclusion ( e.g.  financial offenses, judicial convictions, insolvency without usable assets)
- For each  regulated trade  ( § 94 GewO 1994 ) the respective admission requirements are specified in corresponding ordinances in order  to provide the  necessary proof of qualification / competence

[An office outside of Styria is responsible for the selected commercial registration service in the selected Graz Magistrate region.](https://egov.stmk.gv.at/lavi/vb/kontakt.do?style=stmk&PDefId=B&Form=J&PId=WT-GE-GB-GA&MCode=60101)

Responsible: Magistrat Graz

You can find more information on responsibilities at the Graz portal under the following link: [Graz Responsibility Finder](http://egov.graz.gv.at/zust?PDefId=B&PId=WT-GE-GB-GA&MCode=60101&PLang=deu&Form=J)

Service Unavailable
The server is temporarily unable to service your request due to maintenance downtime or capacity problems. Please try again later.

Apache Server at egov.graz.gv.at Port 443

</div>  
<script src="./+/showdown.min.js"></script>  
<script src="https://rawgit.com/showdownjs/showdown/master/dist/showdown.min.js"></script>  
<script src="../+/showdown.min.js"></script>  
<script src="../../+/showdown.min.js"></script>  
<script>  
var conv = new showdown.Converter({simplifiedAutoLink: true, emoji: true, tables: true, strikethrough: true});  
var txt = document.getElementById('content').innerHTML;  
console.log(txt);  
document.getElementById('content').innerHTML = conv.makeHtml(txt);  
</script>